.years {
  font-size: clamp(56px, 10vw, 200px);
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: clamp(273px, 50vw, 973px);
  align-self: center;

  span:first-child {
    color: #5D5FEF;
  }

  span:last-child {
    color: #EF5DA8;
  }

}
