.header {
  display: flex;
  flex-wrap: nowrap;
  font-size: clamp(48px, 10vw, 56px);
  align-items: center;
  padding-top: clamp(59px, 16vh, 170px) ;
  gap: clamp(5px, 5vw, 78px);

  div:first-child {
    height: 120px;
    width: 5px;
    background: linear-gradient(#3877EE, #EF5DA8);
  }

  div:last-child {
    max-width: 134px;
    width: 100%;
  }
}
