.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
  margin-left: clamp(20px, 17vw, 322px);
  margin-right: clamp(20px, 17vw, 160px);
  border-right: 1px #42567a10 solid;
  border-left: 1px #42567a10 solid;


  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .wrapper {
    padding-left: clamp(5px, 5vw, 78px);

  }
}
